.container {
  background-color: #ebeefb;
  min-height: 100dvh;
}

.top {
  background: var(--background-gradient);
  padding-bottom: 48px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 52px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.action:nth-of-type(odd) {
  grid-column: 4 / span 3;
  @media (max-width: 2100px) {
    grid-column: 3 / span 4;
  }
  @media (max-width: 1200px) {
    grid-column: 2 / span 5;
  }
}

.action:nth-of-type(even) {
  grid-column: 7 / span 3;
  @media (max-width: 2100px) {
    grid-column: 7 / span 4;
  }
  @media (max-width: 1200px) {
    grid-column: 7 / span 5;
  }
}
.actionButton {
  background-color: #5871dd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 278px;
  width: 100%;
  cursor: pointer;
}

.actionButtonLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 39px;
}

.table {
  max-width: 900px;
}

.tableTitle {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 15px;
}

thead {
  background-color: #d3d9f6;
}

tbody {
  cursor: pointer;
}
