.checkboxCard {
    padding: var(--mantine-spacing-xs);
    transition: border-color 150ms ease;
    border-color: transparent;

    &[data-checked] {
        background-color: var(--mantine-color-gray-1);
    }

    @mixin hover {
        @mixin light {
            background-color: var(--mantine-color-gray-0);
        }

        @mixin dark {
            background-color: var(--mantine-color-dark-6);
        }
    }
}

.checkboxCardLabel {
    font-weight: bold;
    font-size: var(--mantine-font-size-md);
    line-height: 1.3;
    color: var(--mantine-color-bright);
}
