.card {
  --wrapper-background-color: transparent;
  --generic-text-color: rgba(255, 255, 255, 1);
  --upload-file-text-color: rgba(255, 255, 255, 1);

  cursor: grabbing;

  padding: 5.75rem 1.25rem 3rem;

  border: 2px dashed rgba(255, 255, 255, 1);
  background: var(--wrapper-background-color);

  &:hover {
    --wrapper-background-color: rgba(88, 113, 221, 1);
    --generic-text-color: rgba(255, 255, 255, 0.3);
    --upload-file-text-color: rgba(15, 51, 206, 1);
  }
}

.textWrapper {
  color: var(--generic-text-color);

  span,
  p {
    color: inherit;
    text-align: center;
  }
}

.labelWrapper {
  p {
    color: rgba(255, 255, 255, 1);
  }
  label {
    color: var(--upload-file-text-color);
  }
}

.inputLabel {
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}
