.navbar {
  background-color: var(--mantine-color-primary-0);
  height: calc(100vh - var(--header-height)); 
  min-height: 100%;
  padding: var(--mantine-spacing-lg); 
  transition: all 0.3s ease-in-out;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100% !important;
  }
}

.navbarHeader {
  position: relative;
  color: var(--mantine-color-white);
  background: var(--background-gradient);
  border-radius: var(--mantine-radius-md);
  font-weight: bold;

  @media (max-width: $mantine-breakpoint-sm) {
    width: calc(100% - 35px);
  }
}

.navbarHeader.collapsed {
  width: 100%;
  @media (max-width: $mantine-breakpoint-sm) {
    width: fit-content;
  }
}

.navbarContent {
  overflow-y: auto;
  scrollbar-color: var(--mantine-color-gray-5) var(--mantine-color-primary-0);
}

