.header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 80px;
  padding: 0 20px;
  position: relative;
  z-index: 50;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.05),
    0 10px 15px -5px rgba(0, 0, 0, 0.05),
    0 7px 7px -5px rgba(0, 0, 0, 0.04);
}

.header_logo {
  display: flex;
  align-items: center;
  width: 55px;
  // marginRight: 10px;
}

.logo_wrapper {
  display: flex;
}

.header_title {
  h4 {
    margin: 0;
  }
}
