.sideBar {
  width: 90px;
  overflow-x: hidden;
  transition: 0.5s;
}

.sideBar.open {
  width: 450px;
}

.navList {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
}

.navList.hidden {
  visibility: hidden;
  opacity: 0;
}

.visibilitySwitch {
  position: absolute;
}
