.stepDetails {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 30px 40px;
  row-gap: 34px;
  width: 100%;
  background-color: var(--mantine-color-gray-0);
  align-content: start;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 30px 15px;
  }
}

.backButton {
  grid-column: 1 / span 12;
}

.description {
  grid-column: 1 / span 12;
}

.stepSwitch {
  grid-column: 1 / span 12;
  background-color: var(--mantine-color-primary-0);
  margin-left: -40px;
  margin-right: -40px;
  padding: 20px 40px 25px;
}

.closestSteps {
  grid-column: 1 / span 12;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 / span 12;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 / span 12;
}

.tab {
  color: #3c3c3c;
  opacity: 0.3;

  &[data-active] {
    color: #3c3c3c;
    border-color: #3c3c3c;
    opacity: 1;
  }
}
