.card {
  text-align: initial;
  background-color: var(
    --mantine-color-primary-2
  ); // theme.colors.primary?.[2];
}

.input {
  input {
    border: 1px solid #fff;
    border: none;
    background: var(--mantine-color-primary-3);
    color: #fff;
    &::placeholder {
      color: #fff;
    }
  }
}
