.checkboxTd {
  max-width: 30px;
}

.statusTd {
  max-width: 34px;
}

.thead{
  background-color: #eaefff;
}

.row {
  cursor: pointer;
}

.testCaseRow {
  background-color: white; 

  @mixin hover {
    background-color: var(--mantine-color-secondary-3);
  }
}

.testRow{
  background-color: var(--mantine-color-secondary-2);

  &:first-of-type {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 5px 9px -7px;
  }

  @mixin hover {
    background-color: var(--mantine-color-secondary-4);
  }
}

.stepRow{
  background-color: var(--mantine-color-secondary-3);
    &:first-of-type {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 5px 9px -7px;
  }

  @mixin hover {
    background-color: var(--mantine-color-secondary-4);
  }
}