.testcase {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 30px 40px;
  row-gap: 34px;
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 30px 15px;
  }
}

.description {
  grid-column: 1 / span 12;
}

.tests {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 / span 12;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 / span 12;
}
