.settings {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 30px 40px;
  row-gap: 34px;
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 30px 15px;
  }
}

.header {
  grid-column: 1 / span 12;
}

.projectData {
  grid-column: 1 / span 12;
}

.members {
  grid-column: 1 / span 12;
}

.tags {
  grid-column: 1 / span 12;
}

.alert {
  grid-column: 1 / span 12;
}
