@import "../../../styles/mixins.scss";

// TODO add color to theme
.search {
  & :global(.mantine-TextInput-input) {
    padding: 5px 34px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ebeefb;
    @include defaultText;

    &::placeholder {
      color: #5871dd;
    }
  }
}
