.container {
  background: linear-gradient(252.07deg, #7B61FF 0%, #0F33CE 100%);
  min-height: 100dvh;
}

.top {
  background: var(--background-gradient);
  padding-bottom: 48px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 52px;
}



.jsonImporter {
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: none;
  padding: 0;
  height: 80px; 

  &:hover {
    background-color: var(--mantine-color-primary-8);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 39px;
}

.table {
  max-width: 900px;

  @media (max-width: $mantine-breakpoint-xs) {
    td,
    th {
      padding: 10px;
    }
  }
}

.tableTitle {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 15px;
}

thead {
  background-color: #d3d9f6;
}

tbody {
  cursor: pointer;
}



.projectCard {
  background-color: #5871DD;
  cursor: pointer;

  &:hover {
    background-color: var(--mantine-color-primary-3);
  }
}

