

.jsonImporter {
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: none;
  padding: 0;
  height: 80px; 

  button {
    transition: all 200ms;
  }

  &[data-disabled="true"] {
    cursor: not-allowed !important;
  }

  &:hover {
    background-color: transparent;

    button {
      background-color: var(--mantine-color-primary-8);

      &[data-disabled="true"] {
        background-color: transparent;
        cursor: not-allowed !important;
      }
    }
  }
}

.projectCard {
  background-color: #5871DD;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background-color: var(--mantine-color-primary-3);
  }
}
